{% extends "mainlayout.html" %}
{% block content %}
{% with flash_messages = get_flashed_messages() %}
{% if flash_messages %}
{% for msg in flash_messages %}
<div class="alert alert-danger alert-dismissible fade show col-md-4 mx-auto">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container-fluid mb-5">
	<h1>{{ charac_data['nick'] }}</h1>
	<div class="row">
		<div class="col-md-2 mx-3 text-success border-success border-right">
			<img src="/static/images/manga_characters/{{charac_data['mangaography'][0]['name']}}/{{charac_data['name_char']}}.jpg">
			<hr><!--
			<form action="#">
				<button class="btn btn-block border-0 btn-outline-success" type="submit">Add to Favorites</button>
			</form>-->
			<div class="mt-3">
				<h5><strong>Mangaography</strong></h5>
				<hr class="bg-light">
				{% for i in charac_data['mangaography'] %}
				<h5><a href="/manga/id{{ i['id'] }}" class="nav-link text-success">{{ i['name'] }}</a></h5>
				<p>&emsp;&emsp;{{ i['role'] }}</p>
				<br>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-9 mx-3 text-success">
			<div class="container-fluid border-success">
				<div class="row">
					<h4>{{charac_data['name_char']}}</h4>
					<div class="col-md-12 border-top">
						<p class="mt-3">
							{{charac_data['data']}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}