{% extends "mainlayout.html" %}
{% block content %}
<h1>{{temp}}</h1>
<div class="container-fluid mx-auto">
	<div class="row mx-auto text-success">
		<div class="col-md-10 mx-auto">
			{% for ani in anime %}
			<div class="row border-bottom">
				<div class="col-md-5 my-2">
					<img src="/static/images/cover/{{ ani['name'] }}.jpg" class="img-thumbnail clearfix float-left border-0 rounded img-fluid " alt="Cover">
					<h4 class="text-success">
						&nbsp;<a href="/anime/id{{ani['id']}} " class="text-success" >{{ ani['name'] }}</a>
						<br>
						&nbsp;{{ ani['type'] }} ({{ ani['episodes_num'] }} episodes)
						<br>
						&nbsp;Score : {{ ani['score'] }}
						<br>
						&nbsp;Members: {{ ani['member'] }}
						<br>
					</h4>
				</div>
				<div class="col-md-7 my-2">
					<h4>
						Synopsis
					</h4>
					<p style="">{{ ani['synopsis'] }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}